@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/kr/NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),
       url(/fonts/kr/NanumBarunGothicUltraLight.woff2) format('woff2'),
       url(/fonts/kr/NanumBarunGothicUltraLight.woff) format('woff'),
       url(/fonts/kr/NanumBarunGothicUltraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/kr/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
       url(/fonts/kr/NanumBarunGothicLight.woff2) format('woff2'),
       url(/fonts/kr/NanumBarunGothicLight.woff) format('woff'),
       url(/fonts/kr/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/kr/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(/fonts/kr/NanumBarunGothic.woff2) format('woff2'),
       url(/fonts/kr/NanumBarunGothic.woff) format('woff'),
       url(/fonts/kr/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/kr/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(/fonts/kr/NanumBarunGothicBold.woff2) format('woff2'),
       url(/fonts/kr/NanumBarunGothicBold.woff) format('woff'),
       url(/fonts/kr/NanumBarunGothicBold.ttf) format('truetype');
}

body {  
    font-family: 'Nanum Barun Gothic', 돋움, 'MS PGothic', Verdana, sans-serif;
}

.post-header > .post-title {
    font-family: 'Nanum Barun Gothic';
    font-weight: 400;  
    font-size: 23px;  
    color: #333333;
}

.post-detail-header > .post-title {
    font-family: 'Nanum Barun Gothic';
    font-weight: 400;  
    font-size: 32px;  
    color: #333333;
}

.post-summery {
    font-family: 'Nanum Barun Gothic';
    font-weight: 400; 
    font-size: 13px;
    color: #666666;
    line-height: 25px;
}

.post-detail {
    font-family: 'Nanum Barun Gothic';
    font-weight: 400; 
    font-size: 13px;
}

.btn-select > p, .btn-select > ul > li {
    font-weight: 400; 
    font-size: 13px;
    color:#666666;
}


.content-html > p, .content-html > h2 {
  font-family: 'Nanum Barun Gothic';
  color:#666666;   
  font-weight: 400;
}

.content-html > p {
  font-size: 13px;
  line-height: 25px;
}

.content-html > h2 {
  font-size: 23px;  
}

.author-header > p, .author-person > p {
  font-family: 'Nanum Barun Gothic';
  font-size: 13px;
}

.author-header > p {
  font-weight: bold;
}


footer > ul > li > a {
  font-family: 'Nanum Barun Gothic'; 
  font-weight: 400; 
  font-size: 13px;
  line-height: 25px; 
}

.btn-select > p::after {
  right: 11px;
  top: 15px;
}

.btn-select > ul {
  padding-top: 4px;
}

.more > .more-text {
  top: 72px;
}

.contents-bottom-prev p, .contents-bottom-next p {        
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  margin-bottom: 13px;
}

.posts > li > .post-header {
  margin-top: 28px;
}

.post-detail-header {
  margin-top: 37px;  
}

.post-detail-sns {
  margin-top: 7px;  
}

.post-award {
  margin-top: -1px;
}